-
    var saintpCards = [];
    saintpCards[0] = {
        name: 'metro',
        title: 'Metro ticket',
        subtitle: 'Impressive palaces underground!',
        text: '<p> <a href=\"http:\/\/www.metro.spb.ru\/en\/map.html\">The metro in&nbsp;Leningrad<\/a> was a&nbsp;Soviet project and was originally build also as&nbsp;a&nbsp;<nobr>bomb-shelter<\/nobr>. Today, you can enjoy a&nbsp;ride <nobr>wall-to-wall<\/nobr> to&nbsp;other people and see stations, which look exactly like the halls of&nbsp;famous palaces. <\/p> <p> <strong>You should visit:<\/strong> <a href=\"https:\/\/en.wikipedia.org\/wiki\/Avtovo_(Saint_Petersburg_Metro)\">&ldquo;Avtovo&rdquo;<\/a>, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Ploshchad_Vosstaniya_(Saint_Petersburg_Metro)\">&ldquo;Ploshchad Vosstaniya&rdquo;<\/a>. <\/p>',
        pricetitle: 'One ride',
        id: 'smetro',
        price: '35 RUB'
    }

    saintpCards[1] = {
        name: 'hermitage',
        title: 'Hermitage',
        subtitle: 'The second after Louvre',
        text: '<p> It&nbsp;was the biggest museum of&nbsp;the Russian Empire and one of&nbsp;the most famous museums of&nbsp;the Old World. The <a href=\"https:\/\/www.hermitagemuseum.org\/wps\/portal\/hermitage\/?lng=en\">museum complex<\/a> includes the <a href=\"https:\/\/en.wikipedia.org\/wiki\/Winter_Palace\">Winter Palace<\/a>, where Russian Emperors have lived. <\/p> <p> <strong>You should check out:<\/strong> <a href=\"https:\/\/en.wikipedia.org\/wiki\/Military_Gallery_of_the_Winter_Palace\">The Military Gallery<\/a>, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Madonna_Litta\">&ldquo;Madonna Littla&rdquo;<\/a> by&nbsp;Leonadro da&nbsp;Vinci, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Dana%C3%AB_(Rembrandt_painting)\">&ldquo;Dana&#235;&rdquo;<\/a> by&nbsp;Rembrandt, <a href=\"https:\/\/www.khanacademy.org\/humanities\/art-1010\/early-abstraction\/fauvism-matisse\/a\/matisse-dance-i\">&ldquo;The Dance&rdquo;<\/a> by&nbsp;Henri Matisse. <\/p> <p> <strong>Free for students (with a&nbsp;Student ID).<\/strong> <\/p>',
        pricetitle: 'One full price ticket',
        id: 'shermitage',
        price: '600 RUB'
    }

    saintpCards[2] = {
        name: 'taxi',
        title: 'Taxi',
        subtitle: 'Cheaper than buying a car',
        text: '<p> Taxis are usually quite expensive. The rest of&nbsp;the world forbid cheap <nobr>Taxi-Apps<\/nobr> to&nbsp;make taxi business more competitive and fair. Well, in&nbsp;Russia there are taxis that are even cheaper than Uber. <\/p> <p> <strong>You should use:<\/strong> <a href=\"https:\/\/www.uber.com\/cities\/saint-petersburg\">Uber<\/a>, <a href=\"http:\/\/spb.rutaxi.ru\/en\/index.html\">Rutaxi<\/a>, <a href=\"http:\/\/6-000-000.ru\/en\">6-000-000<\/a>. <\/p> <p> <strong>Advise:<\/strong> It&nbsp;is&nbsp;better to&nbsp;call a&nbsp;taxi via an&nbsp;App, than calling one simply from the street. <\/p>',
        pricetitle: 'Average ride',
        id: 'staxi',
        price: '250 RUB'
    }

    saintpCards[3] = {
        name: 'boattrip',
        title: 'Take a boat trip',
        subtitle: 'That\'s what tourists do',
        text: '<p> The water transport here isn&rsquo;t really a&nbsp;city transport like in&nbsp;Istanbul. But we&nbsp;are sure, that Peter The Great thought that the city would look the best, when looking at&nbsp;it&nbsp;sitting on&nbsp;a&nbsp;boat. You should check it&nbsp;out, agree or&nbsp;disagree with him. <\/p> <p> <strong>You should watch before:<\/strong> music video <a href=\"https:\/\/www.youtube.com\/watch?v=UEFKLBUtkJU\">&ldquo;White Night&rdquo; by&nbsp;DDT<\/a>. <\/p> <p> <strong>Advise:<\/strong> Check the websites of&nbsp;boat trip companies for prices. <\/p>',
        pricetitle: 'Average ride',
        id: 'sboattrip',
        price: '700 RUB'
    }

    saintpCards[4] = {
        name: 'pyshka',
        title: 'Pyshki',
        subtitle: 'Traditional donuts back from Soviet times',
        text: '<p> <nobr>Saint-Petersburg</nobr> has its own donut, which is&nbsp;called &laquo;pyshka&raquo;. It&nbsp;is&nbsp;extremly cheap and quite small. Therefore you should better take 5 at&nbsp;once. They are awesome with a&nbsp;cup of&nbsp;coffee or&nbsp;tea. The oldest <a href="https://ru.foursquare.com/v/%D0%BF%D1%8B%D1%88%D0%B5%D1%87%D0%BD%D0%B0%D1%8F/4bf7e66c5ec320a1fbab87d3">&ldquo;Pyshechnaya&rdquo; on&nbsp;Bolshaya Konyushennaya</a> street is&nbsp;working from 1958. </p> <p> <strong>Advise:</strong> If&nbsp;you want to&nbsp;visit the oldest &laquo;pyshechnaya&raquo;, you better do&nbsp;it&nbsp;on&nbsp;weekdays, as&nbsp;on&nbsp;the weekend you&rsquo;re probably going to&nbsp;stand in&nbsp;line for hours. </p>',
        pricetitle: 'One "pyshka"',
        id: 'spyshka',
        price: '13 RUB'
    }

    saintpCards[5] = {
        name: 'isaak',
        title: 'Saint Isaac Cathedral',
        subtitle: 'The rooftop view',
        text: '<p> The construction of&nbsp;<a href=\"http:\/\/eng.cathedral.ru\/\">this church<\/a> took 40 years. During the Siege of&nbsp;Leningrad the church was damaged by&nbsp;Nazi bombs and you can still see traces from those on&nbsp;it. The view on&nbsp;the city from the top, is&nbsp;probably the most common rooftop picture of&nbsp;St. Petersburg on&nbsp;Instagram. From here you can see how big <nobr>Saint-Petersburg<\/nobr> actually is. <\/p> <p> <strong>Alternative rooftop view:<\/strong> <a href=\"http:\/\/www.loftprojectetagi.ru\/en\/guide\/roof\/\">Loft Project ETAGI<\/a>, for free from 7 to&nbsp;9 am on&nbsp;weekdays. <\/p>',
        pricetitle: 'One ticket',
        id: 'sisaak',
        price: '150 RUB'
    }

    saintpCards[6] = {
        name: 'swanlake',
        title: 'Swan Lake',
        subtitle: 'During summer - almost every day',
        text: '<p> Some versions of&nbsp;Tchaikovsky&rsquo;s masterpiece are playing almost every day during the summer in&nbsp;different theaters in&nbsp;the city. If&nbsp;you don&rsquo;t know much about ballet&nbsp;&mdash; just choose by&nbsp;location. The most <nobr>good-looking<\/nobr> theaters in&nbsp;the city are Mariinsky and Alexandrinsky. <\/p> <p> <strong>Advise:<\/strong> Buy the tickets online and in&nbsp;advance.<\/a>. <\/p>',
        pricetitle: 'One ticket',
        id: 'sswanlake',
        price: '1000 RUB'
    }

    saintpCards[7] = {
        name: 'peterhof',
        title: 'Peterhof',
        subtitle: 'The baroque Disneyland',
        text: '<p> A&nbsp;<a href=\"http:\/\/eng.peterhofmuseum.ru\/index.php?lang=eng\">park with beautiful palaces<\/a>, fountains and gardens, where you might feel like a&nbsp;king. This, you could compare with Versailles. <\/p> <p> <strong>Advise:<\/strong> It&nbsp;is&nbsp;better to&nbsp;visit Peterhof on&nbsp;weekdays than on&nbsp;the weekend. Don&rsquo;t forget to&nbsp;check the wheather forecast before though. <\/p>',
        pricetitle: 'One ticket',
        id: 'speterhof',
        price: '700 RUB'
    }

for every in saintpCards
    .section(class='#{every.name}')
        section.hero.is-fullheight
            .hero-head
                .container.is-hidden-mobile
                    span.icon.is-medium.moveup
                        a
                            i.fa.fa-chevron-up
            .hero-body
                .hero-content
                    .container
                        .columns.is-vcentered
                            .column.is-8
                                h2.title.is-2
                                    | #{every.title}
                                h3.subtitle.is-4
                                    | #{every.subtitle}
                                .content
                                    | !{every.text}
                            .column
                                p.title  #{every.pricetitle}:
                                p.title.is-1(id='#{every.id}') #{every.price}
            .hero-foot
                .container.is-hidden-mobile
                    span.icon.is-medium.movedown
                        a
                            i.fa.fa-chevron-down






