-
    var saintpCards = [];
    saintpCards[0] = {
        name: 'hermitage',
        title: 'Hermitage',
        subtitle: 'The second after Louvre',
        text: '<p> It&nbsp;was the biggest museum of&nbsp;the Russian Empire and one of&nbsp;the most famous museums of&nbsp;the Old World. The <a href=\"https:\/\/www.hermitagemuseum.org\/wps\/portal\/hermitage\/?lng=en\">museum complex<\/a> includes the <a href=\"https:\/\/en.wikipedia.org\/wiki\/Winter_Palace\">Winter Palace<\/a>, where Russian Emperors have lived. <\/p> <p> <strong>You should check out:<\/strong> <a href=\"https:\/\/en.wikipedia.org\/wiki\/Military_Gallery_of_the_Winter_Palace\">The Military Gallery<\/a>, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Madonna_Litta\">&ldquo;Madonna Littla&rdquo;<\/a> by&nbsp;Leonadro da&nbsp;Vinci, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Dana%C3%AB_(Rembrandt_painting)\">&ldquo;Dana&#235;&rdquo;<\/a> by&nbsp;Rembrandt, <a href=\"https:\/\/www.khanacademy.org\/humanities\/art-1010\/early-abstraction\/fauvism-matisse\/a\/matisse-dance-i\">&ldquo;The Dance&rdquo;<\/a> by&nbsp;Henri Matisse. <\/p> <p> <strong>Free for students (with a&nbsp;Student ID).<\/strong> <\/p>',
        pricetitle: 'One full price ticket',
        id: 'shermitage',
        price: '600 RUB'
    }

    saintpCards[1] = {
        name: 'isaak',
        title: 'Saint Isaac Cathedral',
        subtitle: 'The rooftop view',
        text: '<p> The construction of&nbsp;<a href=\"http:\/\/eng.cathedral.ru\/\">this church<\/a> took 40 years. During the Siege of&nbsp;Leningrad the church was damaged by&nbsp;Nazi bombs and you can still see traces from those on&nbsp;it. The view on&nbsp;the city from the top, is&nbsp;probably the most common rooftop picture of&nbsp;St. Petersburg on&nbsp;Instagram. From here you can see how big <nobr>Saint-Petersburg<\/nobr> actually is. <\/p> <p> <strong>Alternative rooftop view:<\/strong> <a href=\"http:\/\/www.loftprojectetagi.ru\/en\/guide\/roof\/\">Loft Project ETAGI<\/a>, for free from 7 to&nbsp;9 am on&nbsp;weekdays. <\/p>',
        pricetitle: 'One ticket',
        id: 'sisaak',
        price: '150 RUB'
    }

    saintpCards[2] = {
        name: 'spblood',
        title: 'The Church of the Saviour on Spilled Blood',
        subtitle: 'This is not the St. Basil in Moscow' ,
        text: '<p>Another symbol of&nbsp;the city&nbsp;&mdash; the church, which tourists usually mistake with the St. Basil in&nbsp;Moscow (which is&nbsp;much older). It&nbsp;is&nbsp;the peak point of&nbsp;the <nobr>neo-russian<\/nobr> style during the rule of&nbsp;Alexander III&nbsp;&mdash; the church is&nbsp;a&nbsp;memorial in memory of Alexander II, as&nbsp;it&nbsp;was built on&nbsp;the exact place his father was hit by&nbsp;a&nbsp;bomb dropped by&nbsp;the terrorist group &ldquo;Narodnaya Volya&rdquo;.<\/p><p><span class=\"is-hidden-touch\">The money for the church was collected by&nbsp;people from every corner of&nbsp;the Russian Empire. The best craftsman of&nbsp;the country created the mosaics for the church. Now it&nbsp;is&nbsp;a&nbsp;museum and probably you could name it&nbsp;a&nbsp;museum of&nbsp;Russian mosaic. When the country decided to&nbsp;repair the church they put it&nbsp;in&nbsp;scaffolding for almost all the 80s. An&nbsp;Urban legend says that the people of&nbsp;Leningrad used to&nbsp;say that the Soviet Union will fall when the church will be&nbsp;free of&nbsp;scaffoldings. They were removed in&nbsp;1991&hellip;<\/span><\/p><p><strong>Advise:<\/strong> Carefully choose the time when to&nbsp;visit, after 6pm it&nbsp;costs more. Also when it’s&nbsp;rainy and everyone is&nbsp;eating you won’t&nbsp;stay long in&nbsp;line.<\/p>',
        pricetitle: 'One ticket',
        id: 'sspblood',
        price: '250 RUB'
    }

    saintpCards[3] = {
        name: 'peterpaul',
        title: 'Peter and Paul Fortess',
        subtitle: 'This is where it all started',
        text: '<p>The &ldquo;Russian Bastille&rdquo;; is&nbsp;the place, where the bones of&nbsp;all of&nbsp;Russian Emperors rest in&nbsp;peace. The <nobr>6-bastions</nobr> <nobr>Swedish-shape</nobr> fortress is&nbsp;the symbol of&nbsp;the city. It&nbsp;is&nbsp;located on&nbsp;the Rabbit island (the name and the land have Finnish roots). It&nbsp;is&nbsp;the very first building of&nbsp;the city and this is&nbsp;where the city started.</p><p><span class=\"is-hidden-touch\">Pushkin called <nobr>Saint-Petersburg</nobr> the &ldquo;Window to&nbsp;Europe&rdquo;;. Probably the beach of&nbsp;the Peter and Paul Fortress is&nbsp;the best place to&nbsp;look through that window. Try to&nbsp;go&nbsp;there in&nbsp;the evening and on&nbsp;the beach you will have an&nbsp;amazing view on&nbsp;the city, a&nbsp;Russian Europe. With his cobblestone the inner yard of&nbsp;the Fortress can be&nbsp;called the &ldquo;Old City&rdquo; of&nbsp;<nobr>Saint-Petersburg</nobr>.<\/span></p><p><strong>Advise:</strong> Don’t&nbsp;forget to&nbsp;drop a&nbsp;coin hitting the rabbit Arseniy, it&nbsp;makes you lucky. Bring your <nobr>sun-lotion</nobr> with you during winter, as&nbsp;it&nbsp;is&nbsp;also <a href="http://ichef.bbci.co.uk/wwfeatures/wm/live/1600_900/images/live/p0/1j/fw/p01jfw8x.jpg">a&nbsp;famous solarium</a> in&nbsp;Saint Petersburg. </p>',
        pricetitle: 'Ticket to Peter and Paul Cathedral and Grand Ducal Burial Chapel',
        id: 'speterpaul',
        price: '450 RUB'
    }

for every in saintpCards
    .section(class='#{every.name}')
        section.hero.is-fullheight
            .hero-head
                .container.is-hidden-mobile
                    span.icon.is-medium.moveup
                        a
                            i.fa.fa-chevron-up
            .hero-body
                .container
                    .columns.is-vcentered
                        .column.is-8
                            h2.title.is-2
                                | #{every.title}
                            h3.subtitle.is-4
                                | #{every.subtitle}
                            .content
                                | !{every.text}
                        .column
                            p.title  #{every.pricetitle}:
                            p.title.is-1(id='#{every.id}') #{every.price}
            .hero-foot
                .container.is-hidden-mobile
                    span.icon.is-medium.movedown
                        a
                            i.fa.fa-chevron-down






