-
    var saintpCards = [];
    saintpCards[0] = {
        name: 'roofs',
        title: 'Roofs of Saint-Petersburg',
        subtitle: 'Another point of view',
        text: '<p>The roofs of&nbsp;<nobr>Saint-Petersburg<\/nobr> are a&nbsp;parallel universe, full of&nbsp;romance and their own stories. It&nbsp;can be&nbsp;dangerous and not very legal, but there are tours on&nbsp;the roofs of&nbsp;the city.<\/p><p>If&nbsp;you want to&nbsp;stay safe&nbsp;&mdash; check out restaurants with rooftop terraces. Food or&nbsp;coffee there could be&nbsp;bad, but the view is&nbsp;worth it. We&nbsp;hope, that someday the city will figure out how to&nbsp;make this secret beauty more available for common people.<\/p>',
        pricetitle: 'Average tour',
        id: 'sroofs',
        price: '500 RUB'
    }

for every in saintpCards
    .section(class='#{every.name}')
        section.hero.is-fullheight
            .hero-head
                .container.is-hidden-mobile
                    span.icon.is-medium.moveup
                        a
                            i.fa.fa-chevron-up
            .hero-body
                .container
                    .columns.is-vcentered
                        .column.is-8
                            h2.title.is-2
                                | #{every.title}
                            h3.subtitle.is-4
                                | #{every.subtitle}
                            .content
                                | !{every.text}
                        .column
                            p.title  #{every.pricetitle}:
                            p.title.is-1(id='#{every.id}') #{every.price}






