-
    var saintpCards = [];
    saintpCards[0] = {
        name: 'metro',
        title: 'Metro',
        subtitle: 'Atemberaubendes "Underground" Museum!',
        text: '<p> <a href=\"http:\/\/www.metro.spb.ru\/en\/map.html\">Die Metro in&nbsp;Leningrad<\/a> war ein sovietisches Projekt und urspr&#252;nglich unteranderem gedacht als Luftschutzbunker in&nbsp;Kriegszeiten. Heute kannst du&nbsp;eine aufregende Fahrt zusammengequetscht zwischen B&#252;rgern und Besuchern erleben und die wundersch&#246;nen Dekorationen an&nbsp;den W&#228;nden der Stationen geniessen. <\/p> <p> <strong>Unser Tipp:<\/strong> <a href=\"https:\/\/en.wikipedia.org\/wiki\/Avtovo_(Saint_Petersburg_Metro)\">&bdquo;Avtovo&ldquo;<\/a>, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Ploshchad_Vosstaniya_(Saint_Petersburg_Metro)\">&bdquo;Ploshchad Vosstaniya&ldquo;<\/a>. <\/p>',
        pricetitle: 'Eine Fahrt',
        id: 'smetro',
        price: '35 RUB'
    }

    saintpCards[1] = {
        name: 'hermitage',
        title: 'Hermitage',
        subtitle: 'Kunst in allen Formen',
        text: '<p> Es&nbsp;war das gr&#246;&#223;te&nbsp;Museum im&nbsp;Russischen Reich und besa&#223; eine der ber&#252;hmtesten Kunstsammlungen in&nbsp;der &bdquo;Alten&ldquo; Welt. Der <a href=\"https:\/\/www.hermitagemuseum.org\/wps\/portal\/hermitage\/?lng=en\">Museumskomplex<\/a> beinhaltet unteranderem den <a href=\"https:\/\/en.wikipedia.org\/wiki\/Winter_Palace\">Winterpalast<\/a>, eine der vielen Unterk&#252;nfte der letzten russische Zarenfamilie. <\/p> <p> <strong>Unbedingt ansehen:<\/strong> <a href=\"https:\/\/en.wikipedia.org\/wiki\/Military_Gallery_of_the_Winter_Palace\">The Military Gallery<\/a>, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Madonna_Litta\">&bdquo;Madonna Littla&ldquo;<\/a> by&nbsp;Leonadro da&nbsp;Vinci, <a href=\"https:\/\/en.wikipedia.org\/wiki\/Dana%C3%AB_(Rembrandt_painting)\">&bdquo;Dana&#235;&ldquo;<\/a> by&nbsp;Rembrandt, <a href=\"https:\/\/www.khanacademy.org\/humanities\/art-1010\/early-abstraction\/fauvism-matisse\/a\/matisse-dance-i\">&bdquo;The Dance&ldquo;<\/a> by&nbsp;Henri Matisse. <\/p> <p> <strong>Umsonst f&#252;r&nbsp;Studenten (mit Studentenauswei&#223;).<\/strong> <\/p>',
        pricetitle: 'Ein Ticket',
        id: 'shermitage',
        price: '600 RUB'
    }

    saintpCards[2] = {
        name: 'taxi',
        title: 'Taxi',
        subtitle: 'Schnell und günstig',
        text: '<p> Taxis sind normalerweise ziemlich teuer. Aus Loyalit&#228;t&nbsp;zu&nbsp;traditionellen Taxiunternehmen haben viele L&#228;nder vor gar nicht allzu langer Zeit <nobr>Billig-Taxiunternehmen<\/nobr> verboten. In&nbsp;Russland gab es&nbsp;sowas nicht und nun gibt es&nbsp;sogar Taxiunternehmen, die billiger sind als UBER. <\/p> <p> <strong>Wir empfehlen:<\/strong> <a href=\"https:\/\/www.uber.com\/cities\/saint-petersburg\">Uber<\/a>, <a href=\"http:\/\/spb.rutaxi.ru\/en\/index.html\">Rutaxi<\/a>, <a href=\"http:\/\/6-000-000.ru\/en\">6-000-000<\/a>. <\/p> <p> <strong>Hinweis:<\/strong> Achtet bitte darauf, dass es&nbsp;nicht nur billiger ist ein Taxi via App zu&nbsp;bestellen, sondern auch sicherer. Haltet bitte keine Stra&#223;entaxis an. <\/p>',
        pricetitle: 'Eine Taxifahrt im Durchschnitt',
        id: 'staxi',
        price: '250 RUB'
    }

    saintpCards[3] = {
        name: 'boattrip',
        title: 'Eine Bootsfahrt, die ist lustig',
        subtitle: 'Eine Bootsfahrt, die ist schön',
        text: '<p> Sich auf dem Wasser fortzubewegen ist in&nbsp;St. Peterburg nicht wirklich &#252;blich wenn es&nbsp;darum geht von einen Ort zum Anderen zu&nbsp;kommen. Dennoch sind wir uns sicher, dass Peter der Gro&#223;e&nbsp;sich gew&#252;nscht hat, dass absolut jeder Besucher die Stadt zumindest einmal von einem der Kan&#228;le&nbsp;aus bewundert. Wir schlagen vor, ausprobieren und pr&#252;fen. <p> <strong>Bitte vorher anschauen:<\/strong> <a href=\"https:\/\/www.youtube.com\/watch?v=UEFKLBUtkJU\">&bdquo;White Night&ldquo; von DDT<\/a>. <\/p> <p> <strong>Hinweis:<\/strong> Auf den Webseiten der Bootsunternehmen findet ihr aktuelle Preise. <\/p>',
        pricetitle: 'Eine Fahrt im Durchschnitt',
        id: 'sboattrip',
        price: '700 RUB'
    }

    saintpCards[4] = {
        name: 'pyshka',
        title: 'Pyshki',
        subtitle: 'Traditionelle sovietische Donuts',
        text: '<p> <nobr>Sankt Petersburg</nobr> hat seine eigenen Donuts, diese heißen Pyshkis. Extrem billig und extrem lecker, deshalb am besten gleich 5 auf einmal bestellen. Gerne auch genießen mit einer Tasse Kaffee oder Tee. Die älteste <a href="https://ru.foursquare.com/v/%D0%BF%D1%8B%D1%88%D0%B5%D1%87%D0%BD%D0%B0%D1%8F/4bf7e66c5ec320a1fbab87d3">&bdquo;Pyshechnaya&ldquo; von 1958 findet ihr auf der &nbsp;Bolshaya Konyushennaya</a> Straße.&nbsp; </p> <p> <strong>Hinweis:</strong> Am Besten in der Woche ausprobieren, da ihr am Wochenende wahrscheinlich Schlange stehen müsst. </p>',
        pricetitle: 'Eine "Pyshka"',
        id: 'spyshka',
        price: '13 RUB'
    }

    saintpCards[5] = {
        name: 'isaak',
        title: 'Isaakskathedrale',
        subtitle: 'Die Stadt in Vogelperspektive',
        text: '<p> Die Errichtung <a href=\"http:\/\/eng.cathedral.ru\/\">der Kirche<\/a> hat 40 lange Jahre gedauert. W&#228;hrend der Blockade in&nbsp;Leningrad wurde diese von <nobr>Nazi-Bomben<\/nobr> besch&#228;digt und die Folgen dessen sind immer noch zu&nbsp;sehen. Das Selfie von der Kollonade der Kirche ist wahrscheinlich das beliebteste Selfie unserer Touristen auf Instagram. Von hier oben f&#228;llt einem auf wie gro&#223; die Stadt eigentlich ist. <\/p> <p> <strong>Alternativer Rooftop View:<\/strong> <a href=\"http:\/\/www.loftprojectetagi.ru\/en\/guide\/roof\/\">Loft Project ETAGI<\/a>, umsonst von 7 bis 9 Uhr morgens an&nbsp;Wochentagen. <\/p>',
        pricetitle: 'Ein Ticket',
        id: 'sisaak',
        price: '150 RUB'
    }

    saintpCards[6] = {
        name: 'swanlake',
        title: 'Schwanensee',
        subtitle: 'Tägliche Aufführungen im Sommer',
        text: '<p> Unterschiedliche Versionen von Tchaikowskys Meisterwerk werden fast t&#228;glich im&nbsp;Sommer an&nbsp;unterschiedlichen Orten aufgef&#252;hrt. Solltest du&nbsp;keine Ahnung haben von Ballett, w&#228;hle einfach aus nach Location. Die sch&#246;nsten Theater der Stadt sind das <nobr>Mariinski-Theater<\/nobr> und das <nobr>Alexandrinski-Theater<\/nobr>. <p> <strong>Empfehlung:<\/strong> Kaufe die Tickets im&nbsp;Vorraus und online, so&nbsp;ists billiger<\/a>. <\/p>',
        pricetitle: 'Ein Ticket',
        id: 'sswanlake',
        price: '1000 RUB'
    }

    saintpCards[7] = {
        name: 'peterhof',
        title: 'Peterhof',
        subtitle: 'Unser barockes Disneyland',
        text: '<p> Ein <a href=\"http:\/\/eng.peterhofmuseum.ru\/index.php?lang=eng\">Park mit wundersch&#246;nen Pal&#228;sten<\/a>, Font&#228;nen und G&#228;rten, um&nbsp;sich zu&nbsp;f&#252;hlen wie ein Zar. Vergleichbar mit Versailles. Sollte man also eine Auszeit brauchen vom Stadttrubel, kann man sich hier etwas ausruhen, spazieren gehen und die eindrucksvollen Ausblicke auf sich wirken lassen. <\/p> <p> <strong>Empfehlung:<\/strong> Besuche Peterhof besser in&nbsp;der Woche um&nbsp;gro&#223;em&nbsp;Andrang zu&nbsp;entfliehen. <\/p>',
        pricetitle: 'Ein Ticket',
        id: 'speterhof',
        price: '700 RUB'
    }

    saintpCards[8] = {
    name: 'moscow',
    title: 'Moskau',
    subtitle: 'Langweiligste Stadt in Russland sagt der Sankt Petersburger',
    text: '<p>Solltest du&nbsp;genug haben von der Sch&#246;nheit des russischen Venedigs, laden wir dich ein mit dem Zug nach Moskau zu&nbsp;fahren. Kaufe dir eine &bdquo;Platzkarte&ldquo;&nbsp;&mdash; schlafe neben den unterschiedlichsten Leuten, koste selbstgebackene russische Piroschki, h&#246;re&nbsp;dir melancholische Disskusionen an&nbsp;auf Russisch und geniesse Schwei&#223;f&#252;&#223;e&nbsp;bei Nacht. <span class=\"is-hidden-touch\">H&#246;rt&nbsp;man auf St. Petersburger, so&nbsp;ist Moskau keinen Besuch wert, wir denken aber anders. Moskau ist definitiv einen Besuch wert, besonders um&nbsp;auch ein etwas anderes Russland kennenzulernen. Moskau &#252;berzeugt eher durch einen sovietischen Charme, wohingegen Sankt Petersburg eher das Russische Zarenreich wiedergibt.<\/span><\/p><p><strong>Hinweis:<\/strong> Kaufe dir die Zugtickets im&nbsp;Vorraus, ist billiger.<\/p>',
    pricetitle: 'Ein Zugticket',
    id: 'smoscow',
    price: '1200 RUB'
    }

for every in saintpCards
    .section(class='#{every.name}')
        section.hero.is-fullheight
            .hero-head
                .container.is-hidden-mobile
                    span.icon.is-medium.moveup
                        a
                            i.fa.fa-chevron-up
            .hero-body
                .container
                    .columns.is-vcentered
                        .column.is-8
                            h2.title.is-2
                                | #{every.title}
                            h3.subtitle.is-4
                                | #{every.subtitle}
                            .content
                                | !{every.text}
                        .column
                            p.title  #{every.pricetitle}:
                            p.title.is-1(id='#{every.id}') #{every.price}
            .hero-foot
                .container.is-hidden-mobile
                    span.icon.is-medium.movedown
                        a
                            i.fa.fa-chevron-down






